# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.ipch

# CMake build folders
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Binaries
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.obj
*.exp
